@import '../../sass/functions';

.main__container {
    border: 1px solid var(--border-color);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1.5rem;
    @include flex-container(column, flex-start, center);
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;

    &>div:nth-child(2) {
        margin-top: 1rem;
        width: 100%;
        text-align: center;
        border: 1px solid var(--border-color);
        border-radius: 0.3rem;
        padding: 0.5rem 0 0 0;

        &>table {
            width: 100%;

            &>tbody {
                width: 100%;

                &>tr:first-child {
                    &>td {
                        padding-top: 1rem;
                    }
                }

                &>tr {
                    border-bottom: 1px solid var(--border-color);

                    &>td {
                        padding-bottom: 1rem;
                    }
                }

            }
        }
    }
}