@import '../../sass/functions';

.main__container {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: 1px solid var(--border-color);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1.5rem;
    @include flex-container(column, center, center);

    .lives__out {
        text-align: center;
    }

    &>div:last-child {
        width: 100%;
        width: 100%;
        @include flex-container(row, center, center);

        &>button {
            margin-top: 1rem;
            border: 1px solid var(--border-color);
            width: 80%;
            padding: 0.5rem;
            border-radius: 0.5rem;
        }
    }
}