@import '../../sass/functions';

.main__container {
    font-family: Poppins, sans-serif;
    border: 1px solid var(--border-color);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
    @include flex-container(column, center, center);
    padding: 1.5rem;
}