@import '../../sass/functions';

.main__container {
    @include flex-container(column, center, center);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr;

    .team__name {
        @include flex-container(column, center, center);
        gap: 0.8rem;
        font-family: Poppins, sans-serif;

        &>p:first-child {
            font-size: 1.6rem;
        }

        &>p:last-child {
            font-size: 1.4rem;
        }

    }

    &>div:nth-child(2) {
        width: 100%;
        @include flex-container(column, center, center);
        gap: 2.5rem;

        .start__event {
            width: 80%;

            p {
                font-family: Poppins, sans-serif;
                font-size: 1.2rem
            }
        }

        .answer__container {
            @include flex-container(column, center, center);
            width: 80%;

            button {
                margin-top: 1rem;
                border: 1px solid var(--border-color);
                width: 100%;
                padding: 0.5rem;
                border-radius: 0.5rem;
                font-size: 1.2rem;
            }

        }
    }

}